# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries and coverage
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
vendor/

# Go workspace
go.work
go.work.sum

# Environment
.env

# Database
*.db*
*.db-journal
