services:
  mysql:
    image: mysql:9.5
    container_name: db
    restart: always
    profiles:
      - mysql
    environment:
      TZ: ${TZ}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    healthcheck:
      test:
        ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    restart: on-failure
    environment:
      SERVER_PORT: ${SERVER_PORT}
      DB_DRIVER: ${DB_DRIVER}
      JWT_SECRET: ${JWT_SECRET}

      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      TOKEN_DURATION_HOURS: ${TOKEN_DURATION_HOURS}

      SQLITE_DSN: ${SQLITE_DSN}

      DB_HOST: mysql
      DB_PORT: ${DB_PORT}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
